.syncopate-regular {
    font-family: "Syncopate", sans-serif;
    font-weight: 400;
    font-style: normal;
}  
.syncopate-bold {
    font-family: "Syncopate", sans-serif;
    font-weight: 700;
    font-style: normal;
}
html {
    color: #efefef;
    background-color: #000000;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    background-image: url("./photos/space1.png");
    background-size: auto 100vh;
    background-position: top center;
    background-repeat: repeat-x;
    
}
html.loonafied {
    background-image: url("./photos/sky2.jpg");
}
.loonafied {
    display: none;
}  
h1 { 
    font-family: "Syncopate", sans-serif;
    font-weight: 700;
    font-style: normal;

}
h2, h3 {
    font-family: "Sulphur Point", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#genInfo {
    background-color: #E2159E;
}
#interest {
    background-color: #EF99E4;
}
#kpop {
    background-color: #AD45C9;
}
#resume {
    background-color: #E349CE;
}
#project {
    background-color: #7c49e3;
}
#backButton {
    background-color: blue;
}
#genInfo.loonafied {
    background-image: url("./photos/Kim_Lip_Solo_Album.jpg");
}
#interest.loonafied {
    background-image: url("./photos/loonaSG.jpg");
}
#kpop.loonafied {
    background-image: url("./photos/Heejin_Solo.jpg");
}
#resume.loonafied {
    background-image: url("./photos/virtual_angel.jpg");
}
#project.loonafied {
    background-image: url("./photos/hihigh.jpg");
}
#genInfo:active {
    background-color: #CE76B0;
}
#interest:active {
    background-color: #FADAF6;
}
#kpop:active {
    background-color: #A877B6;
}
#resume:active {
    background-color: #D689CC;
}
#project:active {
    background-color: #A890D7;
}