html {
    font-family: 'Comic Sans MS', 'Comic Sans', Arial;
}
h1, h2 {
    font-family: Papyrus;
    color:purple;
}
ul {
    list-style-type: none;
    margin: default;
    padding: default;
    color: black;
    background-color: gray;
}
li {
    display: inline-block;
    padding: 16px;
    color: black;
    margin: default;
}
a {
    color: black;
}
li:hover {
    background-color: #AAA;
}
footer {
    background-color: #DDD;
    color: #555;
    text-align: center;
    padding: 16px;
}